.btn {
    /* display:block; */
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #7C8FE4;
     border-color: #1A2980;
    box-shadow: 5px 15px 55px rgba(2,0,36,1);
    /* border: 1px solid red; */
    margin: 0 20px;
  }

  .btn:hover {
    background: #1A2980;
    border-color: #1A2980;
  }

  .btn_grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
  .btn_grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 5px 5px 5px rgba(2,0,36,1);
     border-radius: 10px;
     display: block;
   }

   .btn_grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  